/**
    * https://www.w3schools.com/css/css_align.asp
    * to help with center alignment of content

    * https://www.w3.org/Style/Examples/007/evenodd.en.html
    * style even and odd rows in table
    *
    * https://www.w3schools.com/howto/howto_css_table_center.asp
    * to help center a table
**/
.center {
    text-align: center;
}

.mint {
    background-color: #8ed;
}

.top {
    background-color: #6cb;
    padding: 10px;
}
.top-nav {
    background-color: #6cb;
    padding: 10px 10px 2px 10px;
}

.formBox {
    background-color: #bbb;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.formBox input {
    margin: 5px;
}

tr th {
    padding: 5px;
}
td {
    padding: 2px 5px;
}
tr:nth-child(odd) {
    background-color: #afe;
}

.friendGroup {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    padding: 5px;
}
.friendGroup tr:nth-child(odd) {
    background-color: #bbb;
}
.friendGroup tr:nth-child(even) {
    background-color: #ddd;
}